.navbar-header img.img-responsive {
    width: 150px;
}

.testimonial-title{
    bottom: -20px;
}

.services-grid .icon-box .services-desc{
    max-width: 270px;
    text-align: justify;
}

.services-grid .icon-box .services-desc > h5{
    text-align: left;
}

#aboutus-section .section-title p {
    text-align: justify;
}

.services-heading > span {
    position: initial;
    display: block;
}